/* 共通レイアウト ================================ */

* { font-family: 'Kosugi Maru', sans-serif;
  margin: 0px;
  padding: 0px;}

body {
  top: auto;
  width: 100%;
  height: auto;

  font-family: 'Kosugi Maru', sans-serif;
  position: absolute;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main{
  flex: 1;
}


.footer{
  margin: 0px;
  padding: 0px;
  width: 100%;
  z-index: 10;
  color:#FFF7EB;
  bottom: 0;
  background-color: rgba(55, 55, 55, 0.98);
  text-align: center;
}



/*コピペゾーン

/* Navbar & Navmenu color */

:root {
  --background-navbar:rgba(55, 55, 55, 0.98);
}

.header {
  background: var(--background-navbar);
  margin: 0 auto;
  padding: 0 4%;
  position: fixed;
  width: 100%;
  height: 52px;
  z-index: 10;
}

/* Nav items */

.menu {
  list-style: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  margin-top: 52px;
  padding: 0 0 10px 0;
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

/* Hamburger menu button */

.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menbu text */

.menu {
  a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #ddd;
    opacity: 0;
    transition: 0.5s;
  }

  li {
    border-top: 1px solid rgb(75, 75, 75);
    padding: 15px 0;
    margin: 0 54px;
    opacity: 0;
    transition: 0.5s;
  }
}

.menu-btn {
  &:checked ~ .menu {
    a, li {
      opacity: 1;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
    }
  }

  display: none;
}

.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
  background: #ddd;
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;

  &:before, &:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ddd;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  &:before {
    top: 9px;
  }

  &:after {
    bottom: 9px;
  }
}

/* Hamburger Menu Animation Start */

.menu-btn:checked ~ .menu-icon {
  .navicon {
    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }

  &:not(.steps) .navicon {
    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
}

/* Hamburger Menu Animation End */

/* Navbar Container */

.navtext-container {
  width: 100%;
  height: 52px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar Text */

.navtext {
  position: absolute;
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 4px;
  font-size: 20px;
}



/*
@media (max-width: 575.98px) {
  .top-main {
    width:fit-content
  }
  .devise {
    width: fit-content;
  }
  .play {
    width: 100%;
  }
}
*/

.flash {
  z-index: 10;
  color: white;
  text-align: center;
  &__alert{
    background-color: #de4d4d;
  }
  &__notice {
    background-color: #3b82c4;
  }
}
