// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.notification{
  padding: 20px 0 20px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color:#FFF7EB;

  background-image: url('zero-home.jpg');
  background-size: 100% 100%;
}


.notifications-index-item {
  padding: 20px 30px;
  background-color: #FFF7EB;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  width:100%;
  text-align: center;
}