<% provide(:title, "HowToUse") %>

<div class="play col-sm-auto mx-auto">
  <div class="play-intro">
    <h1>コトノハって？</h1>
    <p>このアプリは “いじめのないSNS” を目指して作りました。
    <br>このアプリで出された手紙はどこに行くか、
    <br>誰も知りません。
    <br>だから、誰の目も気にすることなく、
    <br>今の気持ちを書くことができます。
    <br>あなたの知らないところで誰かを勇気づけたり、<br>逆に励まされたりするかもしれません。</p>
  </div>

  <div class="play-sub row">
    <div class="play-sub card col-sm-4 mx-auto">
      <%= image_tag 'letter.png'%>
      <div class="card-body">
        <h4>手紙を書こう！</h4>
        <p>今の気持ちを書いてみよう！<br>他のユーザー誰か一人にだけ届くよ！</p>
      </div>
    </div>

    <div class="play-sub card col-sm-4 mx-auto">
      <%= image_tag 'post.png' %>
      <div class="card-body">
        <h4>手紙が来たら<br>返事を書こう！</h4>
        <p>ただし、<br>一度しか返事はできないよ！<br>削除もできないから慎重にね！</p>
      </div>
    </div>

    <div class="play-sub card col-sm-4 mx-auto">
      <%= image_tag 'connection.png' %>
      <div class="card-body">
        <h4>遊ぶ時の約束！</h4>
        <p>大切な人に話しかけるような優しい言葉で、<br>繋がりを感じて、<br>楽しく遊んでね！</p>
      </div>
    </div>

  </div>
</div>